html {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-size: 25px;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100vw;

}

input[type="text"] {
    padding: 8px;
    width: 50vw;
    border-radius: 20px;
}

#searchBtn {
    padding: 8px 20px;
    cursor: pointer;
    background-color: #97afa7;
    color: #fff;
    border: none;
    margin-top: 20px;
    border-radius: 20px;
}

#searchBtn:hover {
    background-color: #97afa7;
}

#searchResults {
    border-radius: 20px;
    margin: auto;
    width: max-content;
    min-height: 70vh;
}

#searchResults .search-results{
    margin-bottom: 0;
}

.hymnTitle {
    background-color: #f8f9fa;
    width: 80vw;
}

.hymnTitle div.hymnControl{
    display: inline-block;
    text-align: center;
    padding: 10px;
    background-color: #97afa7;
    margin-right:5px;
}

.hymnTitle a {
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    overflow: clip;
    padding-left: 5px;
    margin-right: auto;
    max-width: inherit;
}

.hymnsTitle div.add{
    position: absolute;
    right: 0;
}

.hTitle a {
    width: 60vw;
    text-overflow: ellipsis;
    margin-right: 5px;
}

.filter {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f8f9fa;
    padding: 10px 20px;
    text-align: center;
}

.search {
    display: inline-block;
}

/* Style for hymnTitle container */
.hymnTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fa;
    margin-bottom: 10px;
}

/* Style for play button container */
.hymnTitle>div {
    display: flex;
    align-items: center;
}

/* Style for title link */
.hymnTitle a {
    flex-grow: 1;
    text-decoration: none;
    color: #333;

}

/* Style for add button container */
.hymnTitle .add {
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    body {font-size: 12px;}

    #searchResults {
        padding-top: 120px;
    }

}

@media screen and (min-width: 500px) {
    .hymnTitle {
        width: 50vw;
    }

    .hTitle a {
        width: 40vw;
    }

    #searchResults {
        padding-top: 22vh;
    }
}
